 {{> head }}
 {{> navbar }}

    <div class="row">

        <div class="col-8">
          <h1>
              One Piece
          </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eum, non ex id commodi atque, fugiat modi doloribus tempora dignissimos dolorum impedit iste nisi reiciendis quod deserunt quam beatae! Ex.</p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/nakamas.png" class="img-thumbnail">
    </div>


    </div>
    

    

 {{> footer }}